
.bg-graphene{
  background-color:rgb(130, 205, 240)
}

.main-container{
  min-width: 100%;
  max-width: 100%;
  min-height: 100vh;
  max-width: 100vh;
  background-color:rgb(255, 255, 255);
}

:root {
  --websitebg: white;
  --websitebgdark: whitesmoke;
  --btnbg: #ef233c;
  --btnbgtext:white;
  --btnbghover: #ff001e;
  --btnbghovertext:white;
  --navbartheme:#2b2b2b;
  --navlogobg: white;
  --navbarlinkactive: #ef233c;
  --navbarlink:rgb(218, 213, 213);
  --headingtext:#2b2b2b;
  --headingsubtext:#a39e9e;

}
